@import "vendor/bourbon/bourbon";
$max-width: 820px;
@import "vendor/neat/neat";

$dfont: "Helvetica Neue", Helvetica, sans-serif;

body {
    -webkit-font-smoothing: subpixel-antialiased;
}

body, p, a, span, h1, h2, h3, li {
	font-family: $dfont;
}

img {
	max-width:100% !important;
	height:auto;
    display:inline-block;
}

h1 {
	font-size: 62pt;
	line-height: 62pt;
	font-weight: 200;
	margin-bottom: 20px;
}

h2 {
	font-size: 38pt;
	line-height: 50pt;
	font-weight: 200;
	margin-bottom: 0;
}

h3 {
	font-size: 24pt;
	font-weight: 200;
	line-height: 30pt;
	margin-bottom: 0;
}

h1, h2, h3 {
	& + p {
		margin: 5px 0;
	}
}

p {
	font-size: 14pt;
	line-height: 24pt;
	font-weight: 200;
}

a, a:visited, a:active {
	color: #ff4623;

	&:hover {
		color: #666;
	}
}

.int-container {
	@include outer-container;
}

.tagline {
	color: #666;
	font-style: italic;
	font-size: 16pt;
	line-height: 16pt;
	margin-top: 0;
}

.links {
	// list-style: none;
	margin-top: 10px;
	// padding: 0;
}

.logo {
	display: block;
	margin-top: 30px;
	margin-bottom: 10px;
}

@include media(max-width 400px) {
	h2 {
		font-size:24pt;
		line-height: 30pt;
	}

	p {
		font-size: 13pt;
		line-height: 21pt;
	}

	.tagline {
		font-size: 12pt;
		line-height: 18pt;
		text-align: center;
	}
}